<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsposeCells" version="2014.01.05" targetFramework="net45" />
  <package id="BouncyCastle" version="1.8.2" targetFramework="net45" />
  <package id="BPMClient.Interface" version="2019.6.26.302" targetFramework="net45" />
  <package id="ChnCharInfo" version="1.0.0" targetFramework="net45" />
  <package id="HR.Interface" version="2017.3.22.102" targetFramework="net45" />
  <package id="MailKit" version="2.0.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.40804.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="MimeKit" version="2.0.6" targetFramework="net45" />
  <package id="MVC4.WEBAPPI" version="1.0.7" targetFramework="net45" />
  <package id="ncalc" version="1.3.8" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="NNF" version="2019.6.25.420" targetFramework="net45" />
  <package id="NNF2" version="2019.7.2.949" targetFramework="net45" />
  <package id="SSOLib" version="2019.6.20.1939" targetFramework="net45" />
  <package id="UltimusDBExtener" version="2018.9.19.252" targetFramework="net45" />
  <package id="UploadLite.Interface" version="2019.4.29.5" targetFramework="net45" />
  <package id="W2.DBSetting" version="2019.5.13.11" targetFramework="net45" />
  <package id="W2.OrgChart" version="2019.6.24.235" targetFramework="net45" />
  <package id="W2.Style" version="2018.12.25.89" targetFramework="net45" />
  <package id="WF.Interface" version="2019.4.24.107" targetFramework="net45" />
</packages>