<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsposeCells" version="2014.01.05" targetFramework="net46" />
  <package id="Ionic.Zip" version="1.9.1.8" targetFramework="net46" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net46" />
</packages>